<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>

            <form class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Cerrar Sesion</a>
                    </li>
                  </ul>
            </form>
              
          </nav>
    </div>

    <div class="container">
        <header class="text-center">
            <hr>
            <h1>Pagina Principal</h1>
        </header>
        <hr>
        <div class="container">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">
                            <span class="fa fa-user"></span>Cuenta del Usuario
                        </h2>
                        <p>
                            <strong>Id</strong>: <%= user._id %> <br>
                            <strong>Email</strong>: <%= user.local.email %> <br>
                            <strong>Password</strong>: <%= user.local.password %> <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>